{{ define "testTextTpl" }}
Hello world from test template!
Title: {{ .Title }}
Current date: {{ dateFormat .Date "02-01-2006" }}
Version: {{ .Version }}
{{ end }}

{{ define "testHtmlTpl" }}
<html>
    <head>
        <title>{{ .Title }}</title>
    </head>
    <body>
        <h1>{{ .Title }}</h1>
        <p>Current date: {{ dateFormat .Date "02-01-2006" }}</p>
        <p>Version: {{ .Version }}</p>
    </body>
</html>
{{ end }}
